<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="16px" fxLayoutAlign="center" style="width: 100%">
    <div fxFlex="25%" class="left-room">
      <!-- Hiển thị tên phòng vào nút thoát -->
      <mat-list>
        <div mat-subheader>
          <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="16px" fxLayoutAlign="center"
            style="width: 100%">
            <div fxFlex style="line-height: 40px; color: #3f3d56">Phòng 01</div>
            <div fxFlex="40px">
              <button mat-icon-button style="color: #3f3d56" (click)="leaveRoom()">
                <mat-icon>exit_to_app</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </mat-list>  
      <mat-divider></mat-divider>
      <!-- <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
        <div fxFlex="25%"> ..code left out..</div>
        <div fxFlex="25%"> ..code left out..</div>
        <div fxFlex="25%"> ..code left out..</div>
        <div fxFlex="25%"> ..code left out..</div>
      </div> -->
      <!-- Danh sách người chơi  -->
        <mat-list style="width: 100%; overflow: auto;">
          <div mat-subheader>Danh sách hàng chờ</div>
    
          <mat-list-item matRipple *ngFor="let user of queuePlayer">
            <img mat-list-icon src="assets/icon/Creative-Tail-Animal-bat.svg" class="icon-style">
            <div mat-line><label class="title">{{ user.name }} - {{ (true === user.status)? "Online": "Offline"}}</label>
            </div>
            <div mat-line> {{ user.score }} </div>
          </mat-list-item>
        </mat-list>
    
      <mat-divider [vertical]="true"></mat-divider>
    
      <!-- Màn hình chat  -->
      <div class="chat-block">
        <div class="display-message" style="overflow: auto">
          <!-- Hiển thị tin nhắn -->
          <div [fxLayout]="user.name == item.owner ? 'row':'row-reverse'" fxLayoutWrap style="width: 100%"
            fxLayoutAlign="end center" class="item-message" *ngFor="let item of messages">
            <div class="message">{{ item.content }}</div>
            <div class="icon">
              <img [src]="item.icon" class="icon-size" />
            </div>
  
          </div>
  
        </div>
  
        <!-- Ô nhập tin nhắn chat -->
        <div class="input-message">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Chat...!" (keyup.enter)="sendMessage($event)" [(ngModel)]="tempMessage" />
          </mat-form-field>
        </div>
      </div>
    </div>
  
    <mat-divider [vertical]="true"></mat-divider>
  
    <!-- Màn hình trận đấu -->
  <div fxFlex="70%" class="right-room">
    <mat-list>
      <div mat-subheader>TRẬN ĐẤU</div>
    </mat-list>

    <div style="height: calc(100vh - 185px)">
      <mat-grid-list cols="20" rowHeight="1:1">
        <mat-grid-tile *ngFor="let item of boardChess" matRipple></mat-grid-tile>
      </mat-grid-list>
    </div>

    <mat-divider></mat-divider>

    <div style="height: 60px; width: 100%">
      <button mat-flat-button class="btn-create-room">...</button>
    </div>
  </div>
</div>